body{
    background-image: linear-gradient(90deg, rgba(3, 23, 207, 0.548) 0%, rgba(21, 161, 255, 0.849) 100%);
    
    }
    h1{
        text-decoration: underline;
    }
    h3{
        text-align: center;
        color:springgreen;
    }
    h5{
        text-align: center;
        font-style: italic;
    }
    h4{
        text-align: center;
        
    }